/* Style sheet created by Taylor Spencer, Novemeber 4, 2025 */

/* Style for body specifies a background color */
body {
    background-color: #1D1D1C;
}

img {
    max-width: 100%;
}

/*Styles for Mobile Layout*/

/*Style for the container centers the page and specifies the width*/

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Style for the header specifies top margin, background color, round corners, 
    and center align content*/

    header {
        text-align: center;
    }

/*Style specifies padding and margins for unordered list*/
nav ul{
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*Style for nav li specifies the background color, rounded corners, removes
bullet style, and applies margins and padding for list items within the 
navigation*/
nav li {
    background-color: #9D9D93;
    border-radius: 2em;
    list-style-type:none;
    margin: 0.3em;
    padding: 0.4em;
}

/*Style changes navigation link text color and removes the underline*/
nav li a {
    color:#FFFFFF;
    text-decoration: none;
}